*
    font-family: 'Museo Sans Cyrl-500', sans-serif
.container
    width: 940px
    margin: 0 auto  
    @media screen and ( max-width: 1200px )
        width: 960px
    @media screen and ( max-width: 991px )
        width: 720px
        
        

.btn
    width: 150px
    height: 30px
    border-radius: 5px
    background-color: #c70101
    color: #ffffff
    font-size: 12px
    font-weight: 500
    text-transform: uppercase
    border: none
    transition: 1s all
    &:hover
        background-color: #fff
        color: #c70101

.title
    color: #0d0d0d
    font-size: 30px
    font-weight: 700
    text-align: center
    line-height: 30px
    text-transform: uppercase


.promo
    padding: 21px 0 0
    min-height: 650px
    background: url(../img/bg-girl.png) center/cover no-repeat
    .btn
        margin: 0 auto
    .wrap-header
        display: flex
        justify-content: space-between
        .oficial
            text-align: center
            .first-text
                color: #fff
                font-size: 12px
            .second-text
                color: #fff
                font-size: 18px
                font-weight: 400
        .contacts
            display: flex
            flex-direction: column
            align-items: flex-end
            .fone
                display: block
                color: #fff
                font-size: 18px
                font-weight: 700
                &:hover
                    text-decoration: none
    &-wraper
        margin-top: 102px
        display: flex
        flex-direction: column
        align-items: flex-end
        .title
            color: #ffffff
            font-size: 40px
            font-weight: 700
            text-transform: uppercase
        .sub-title
            color: #ffffff
            font-size: 23px
            font-weight: 500
            line-height: 15px
            text-transform: uppercase
        .adv
            width: 430px
            display: flex
            justify-content: space-between
            align-items: center
            text-align: center
            margin: 66px 0 0 0
            .text
                margin-top: 20px
                color: #fff
                font-size: 14px
                font-weight: 500
                padding: 0 21px
            .mt
                margin-top: 23px
        .consult
            width: 300px
            margin: 68px 0 0 0
            .btn
                width: 300px
                height: 50px
                font-size: 16px 
            &-text
                margin-top: 18px
                text-align: right
                color: #fff
                font-size: 16px
                font-weight: 500
                .catalog
                    color: #fff
                    font-size: 16px
                    font-weight: 500
                    text-decoration: underline
.advantages
    min-height: 470px
    background-color: #f6f6f6
    padding: 70px 0 78px 0

    .block
        margin-top: 65px
        display: flex
        justify-content: space-around
        .item
            width: 247px
            text-align: center
            &-title
                margin-top: 38px
                color: #0d0d0d
                font-size: 18px
                font-weight: 700
            &-descr
                margin-top: 29px
                color: #0d0d0d
                font-size: 14px
                font-weight: 500
                span
                    color: #ff0000
                    text-decoration: underline
.consultation
    min-height: 680px
    background: url("../img/bg-consultation.png") center/cover no-repeat
    padding: 100px 0 92px 0
    &-title
        color: #fff
        font-size: 36px
        font-weight: 500
        text-transform: uppercase
        line-height: 36px
    .offer
        color: #fff
        margin-top: 77px
        font-size: 20px
        font-weight: 500
    .form
        display: flex
        margin-top: 36px
        flex-direction: column
        width: 300px
        input
            margin-bottom: 15px
            height: 50px
            border-radius: 5px
            background-color: #fff
            border: none
            padding: 0 20px
            color: #4b4b4b
            font-size: 14px
            font-weight: 300
        .btn
            margin-top: 5px
            color: #ffffff
            height: 55px
            width: 100%
            font-size: 16px
            &:hover
                color: #c70101

.carousel
    padding: 81px 0
    &-item
        position: relative
        width: 750px
        margin: 0 auto
        .slick-prev, .slick-next
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: -66px
            border: none
            background-color: #fff
            img
                width: 31px
                height: 50px
        .slick-next
            right: -66px
            left: auto
        .slick-dots
            display: flex
            justify-content: center            
            padding: 0
            margin: 10px  0
            list-style: none
            text-align: center
            font-size: 0  
.catalog
    padding-bottom: 100px
    &-tabs
        display: flex
        justify-content: center
        margin-top: 70px
        padding-left: 0
        margin-bottom: 0
    &-tab
        margin: 0 5px
        text-align: center
        list-style-type: none
        width: 220px
        height: 50px
        border: 2px solid #d0d0d0
        color: #6b6b6b
        font-size: 18px
        font-weight: 500
        text-transform: uppercase
        line-height: 48px 
        transform: skewX(-25deg)
        cursor: pointer
        transition: .5s box-shadow, border
        &-active
            background-color: #c70101
            color: #ffffff
            border: none
        &:hover
            box-shadow: 3px 3px 20px #c70101
            border: none
        div
             transform: skewX(25deg)
    &-content
        margin-top: 59px
    &-item
        padding: 20px 19px 27px 20px
        width: 300px
        min-height: 440px
        border: 2px solid #e8e8e8
        background-color: #ffffff
        &-img
            max-width: 100%
            height: 200px
            display: block
            margin: 0 auto
            margin-top: 20px
        &-title
            text-align: center
            color: #0d0d0d
            font-size: 16px
            font-weight: 700
        &-descr
            text-align: center
            margin-top: 16px
            color: #0d0d0d
            font-size: 14px
            font-weight: 300
        &-link
            display: block
            margin-top: 17px
            text-align: center
            color: #c70101
            font-size: 14px
            font-weight: 500
            text-decoration: underline
            &:hover
                color: #c70101
        hr
            margin-top: 19px
            background-color: #e8e8e8
            border-bottom: none
        &-footer
            margin-top: 21px
            display: flex
            justify-content: space-between
            align-items: center
            .btn
                width: 131px
                height: 40px
                font-size: 14px
        &-prices
            &-del
                color: #555555
                font-size: 14px
                font-weight: 300
                text-decoration: line-through
            &-actual
                color: #050505
                font-size: 20px
                font-weight: 700

            
            




    
        

            


        
                                
       