*
    font-family: 'Museo Sans Cyrl-500', sans-serif
.container
    width: 1140px
    margin: 0 auto

.btn
    width: 150px
    height: 30px
    border-radius: 5px
    background-color: #c70101
    color: #ffffff
    font-family: "Museo Sans Cyrl -500"
    font-size: 12px
    font-weight: 400
    text-transform: uppercase

.promo
    padding: 21px 0 0
    min-height: 650px
    background: url(../img/bg-girl.png) center/cover no-repeat
    .wrap-header
        display: flex
        justify-content: space-around
        .oficial
            text-align: center
            .first-text
                color: #fff
                font-size: 12px
            .second-text
                color: #fff
                font-size: 18px
                font-weight: 400
        .contacts
            text-align: center
            .fone
                display: block
                color: #fff
                font-size: 18px
                font-weight: 700
            
    .title
        margin: 91px 0 0 540px
        color: #ffffff
        font-size: 42px
        font-weight: 700
        text-transform: uppercase
    .sub-title
        margin: 0 0 0 540px
        color: #ffffff
        font-size: 24px
        font-weight: 500
        line-height: 15px
        text-transform: uppercase
    .adv
        width: 430px
        display: flex
        justify-content: space-between
        align-items: center
        text-align: center
        margin: 66px 0 0 597px
        .text
            margin-top: 20px
            color: #fff
            font-size: 14px
            font-weight: 500
            padding: 0 21px
        .mt
            margin-top: 23px
    .consult
        width: 300px
        margin: 68px 0 0 739px
        .btn
            width: 300px
            height: 50px
            font-size: 16px 
        &-text
            margin-top: 18px
            text-align: right
            color: #fff
            font-size: 16px
            font-weight: 400
            .catalog
                color: #fff
                font-size: 16px
                font-weight: 400
                text-decoration: underline
.advantages
    min-height: 470px
    background-color: #f6f6f6
    padding: 70px 0 78px 0
    
    .title
        color: #0d0d0d
        font-size: 30px
        font-weight: 400
        text-align: center
        line-height: 30px
    .block
        margin-top: 65px
        display: flex
        justify-content: space-around
        .item
            width: 247px
            text-align: center
            &-title
                margin-top: 38px
                color: #0d0d0d
                font-size: 18px
                font-weight: 400
            &-descr
                margin-top: 29px
                color: #0d0d0d
                font-size: 14px
                font-weight: 400
                span
                    color: #ff0000
                    text-decoration: underline
.consultation
    min-height: 680px
    background: url("../img/bg-consultation.png") center/cover no-repeat
    padding: 100px 0 92px 0
    &-title
        color: #fff
        font-size: 36px
        font-weight: 400
        text-transform: uppercase
        margin-left: 102px
    .offer
        color: #fff
        margin: 80px 0 0 102px
        font-size: 20px
        font-weight: 400

            


        
                                
       